<%# footer ci-dessous : %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    @2021 - Copyright - Tous droits réservés <br> Créé par Sock Away avec <i class="fas fa-heart"></i>
  </div>
</div>

<%# fin du footer %>
