body {
  background-color: #fef9ff;
}
.container-show {
  margin: 40px;
  min-height: 85vh;
}
.category-show {
  color: #ECA400;
  font-size: bold;
  padding: 24px;
}
.article-name-show {
  padding: 24px;
}
.description-show {
  padding: 24px;
}
.prix-show {
  padding: 24px;
}
.card-link-show {
  margin: 36px;
  display: flex;
  justify-content: flex-end;
}
.card-details-show {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  margin: 0 56px;
}
.card-show {
  display:flex;
  justify-content: space-between;
}
