.banner {
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5172ff;
  height: 100vh;
}

.banner-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  flex-direction: column;
  width: 800px;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px #001D4A;
  font-size: 26px;
  font-weight: bold;
  padding: 15px;
}

.banner p {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px #001D4A;
  padding: 15px;
}

.d-block {
  width: 100vh;
  padding: 15px;
}

.carousel {
  width: 100vh;
}
