
.btn-flat {
  color: rgba(255, 255, 255, 0.8);
  background: #ECA400;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.btn-flat:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #ECA400;
}

.btn-gradient {
  color: white;
  padding: 8px 32px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#5271FF, #5271FF);
  transition: background 0.3s ease;
  border: 1px solid #5271FF;
  margin: 20px;
}

.btn-gradient:hover {
  background: linear-gradient(#001D4A, #001D4A);
  color: white;
}
